<?xml version="1.0" encoding="UTF-8"?>
<routes>
    <route module='News' url="/" action="index"></route>
    <route url='/news-([0-9]+)\.html' module="News" action="show" vars="id"></route>
    <route url="/commenter-([0-9]+)\.html" module="News" action="insertComment" vars="news"></route>
</routes>